.todo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:5px;
    gap:5px;
}
.todoInput{
    border:1px solid black;
    border-radius:2px;
}